body {
  font-family: "Inter", sans-serif;
  background-color: #fafbfc;
}

.dot-bg {
  background-color: #ffffff;
  background-image: radial-gradient(#d1d5db 1px, transparent 1px);
  background-size: 22px 22px;
}
