## Local development environment file example

# Database (optional for local H2)
DATABASE_URL=
DB_USERNAME=
DB_PASSWORD=
DB_DRIVER=
HIBERNATE_DIALECT=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Zoho OAuth (US)
ZOHO_CLIENT_ID=
ZOHO_CLIENT_SECRET=

# force oauth
SPRING_PROFILES_ACTIVE=oauth 